@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background-primary text-text-primary font-sans;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Remove default positioning from nextjs-portal */
nextjs-portal {
  left: unset !important;
  top: unset !important;
}

